@page
@model AboutUsModel

<div class="container">
    

    <div style="background-color: rgba(245, 245, 245, 0.6); padding:15px; align-content:center">
        <h2 style="text-align:center;">About Us</h2>
        <br />
        <center><img src="~/images/whoweare.jpg" style="max-width:350px;"/></center>

        <div class="container">
            <div class="row">
                <div class="col">
                </div>
                <div class="col-6" style="padding-top:10px;">
                    <p style="text-align: justify; font-size: 15px;"> Hello Everyone! <br /><br /> We are Las Çikiletas, senior MIS students from Boğaziçi University.
                    On the top left, is Gözdegül Duran, Mustafa Raşit Akınalp, and Ezgi Oktay. On bottom right is Kamran Mahmudlu, Hilal Onbaşı and Erdinç Ecer. 
                    We created this useful website for our Decision Support System(MIS463) project. If you are reading this message, you are a wonderful person :)<br />Thanks! <br /><br /> Las Çikiletas</p>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>

</div>
